<script>
var map;
var marker;

$(document).ready(function() {
  initialize();

  placePin();
  setInterval(placePin, 5000);
});

getPathName = function() {
  return window.location.pathname;
}

placePin = function() {
  if (marker != undefined) {
    marker.setMap(null);
  }

  $.get(getPathName() + "/last.json", function(data) {
    //for(i = 0; i < data['locations'].length; i++) {
      loc = data; //['locations'][i];

      marker = new google.maps.Marker({
        map: map,
        draggable:false,
        position: new google.maps.LatLng(loc.latitude, loc.longitude)
      });

      google.maps.event.addListener(marker, 'click', (function(marker) {
        return function() {
          console.log(marker);
        }
      })(marker));
    //}
  });
}

initialize = function() {
  var mapOptions = {
    zoom: 3,
    center: new google.maps.LatLng(46, 25.0),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };

  map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
}
</script>

<div id="map_canvas"></div>
<div id="map_info">asd</div>
