<link href='http://fonts.googleapis.com/css?family=Tienne:400,700' rel='stylesheet' type='text/css'>

<script>
var map;
var marker;

$(document).ready(function() {
  initialize();

  placePin();
  setInterval(placePin, 5000);
});

getPathName = function() {
  return window.location.pathname;
}

placePin = function() {
  if (marker != undefined) {
    marker.setMap(null);
  }

  $.get(getPathName() + "/last.json", function(data) {
    loc = data;

    $("#number").html(loc['phone_number']);
    $("#time").attr('title', loc['time_ago'])
              .timeago();

    marker = new google.maps.Marker({
      map: map,
      draggable:false,
      position: new google.maps.LatLng(loc.latitude, loc.longitude)
    });

    google.maps.event.addListener(marker, 'click', (function(marker) {
      return function() {
        console.log(marker);
      }
    })(marker));
  });

}

initialize = function() {
  var mapOptions = {
    zoom: 3,
    center: new google.maps.LatLng(46, 25.0),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };

  map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
}
</script>

<div id="map_canvas"></div>

<div class="toolbar">
  <span class="number" id="number"></span>
  <span class="time timeago" id="time" title=""></span>
</div>
